<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022274170170-5bbeivsraenb1flqe0b7mphhbt0fvbij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022274170170-5bbeivsraenb1flqe0b7mphhbt0fvbij</string>
	<key>API_KEY</key>
	<string>AIzaSyCXlOLpoRtlbJwH1N_fC2L6DlNC1cI51vI</string>
	<key>GCM_SENDER_ID</key>
	<string>1022274170170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.j3enterprisecloud.j3enterprise</string>
	<key>PROJECT_ID</key>
	<string>j3-ios-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>j3-ios-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022274170170:ios:30b44e0ab79e4e55083403</string>
	<key>DATABASE_URL</key>
	<string>https://j3-ios-notification.firebaseio.com</string>
</dict>
</plist>